<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>


    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About Me</h1>
            <p>I am Ruben Omar Aguero. I born on Mexico and also lived here. At this moment I'm <%= x %> years old. To be honest, I never expect to build a website about me, so if you are reading This
                welcome to my first blog (if I can call it that). Besides I have a Degree on MechatronicS, my passion for programming and the IT technologies was stronger,
                so I decide to study IT also. I have a YouTube channel where I upload IT videos, some of them are in spanish. The topics of the videos depend
                a lot of my mood; maybe I wanna make a video of playing a videogame with a fruit, or maybe i make a video for educational purposes. I you wanna watch those videos, please click the button 
                on the screen! </p>
            <a href="https://www.youtube.com/@rubenomaraguero1" class="btn btn-outline-danger">YouTube Channel</a>
        </section>
    </main>




<%- include('partials/footer') %>

</body>
</html>